root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 72
tab_width = 4
indent_brace_style = k&r

[*.{css,scss}]
curly_bracket_next_line = true
