:root
{
    font-family: Noto Emoji Color, sans-serif;
}

input,
textarea,
select
{
    width: 100%;
    font: inherit;
}

[data-initialized=false]::before
{
    content: 'Loading 🤞';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

.current
{
    font-size: 1.5em;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

:not([data-running=true]) .current-timer
{
    visibility: hidden;
}
