.t-main {
  max-width: 30em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-block-start: var(--vertical-spacing);
  padding-block-end: var(--vertical-spacing);
  padding-inline-start: var(--horizontal-spacing);
  padding-inline-end: var(--horizontal-spacing);
}
