/* Unimplemented things, by planned versions */
.u-v2-2 { display: none !important; }
.u-v3 { display: none !important; }
.u-v4 { display: none !important; }

.u-sr
{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
}

[data-authorized=undefined] .u-authorized,
[data-authorized=false] .u-authorized
{
    display: none;
}

[data-authorized=undefined] .u-unauthorized,
[data-authorized=true] .u-unauthorized
{
    display: none;
}
