.o-day__header
{
    position: sticky;
    top: 1.5em;
    top: calc(1.5em - 1px);
    background: var(--colour-background);
    background:
        linear-gradient(
            to bottom,
            var(--colour-background),
            calc(100% - var(--vertical-spacing) * 2),
            var(--colour-background),
            transparent
        );
    margin-inline-start: calc(-1 * var(--horizontal-spacing));
    margin-inline-end: calc(-1 * var(--horizontal-spacing));
    margin-block-end: 0;
    padding-inline-start: calc(var(--horizontal-spacing));
    padding-inline-end: calc(var(--horizontal-spacing));
    padding-block-end: var(--vertical-spacing);
}
