:root
{
    /* sizes */
    --line-height: 1em;
    --vertical-spacing: var(--line-height);
    --horizontal-spacing: 1.5rem;

    /* colours */
    --colour-text: hsl(0, 0%, 15%);
    --colour-secondary-text: hsl(0, 0%, 35%);
    --colour-background: hsl(0, 0%, 98%);
    --colour-success: green;
    --colour-warning: orange;
    --colour-danger: red;
    --colour-error: var(--colour-danger);

    /* z-indexes */
    --z-index-sticky-header-2: 1;
    --z-index-sticky-header-1: 2;
    --z-index-page-message: 3;

    box-sizing: border-box;
    color: var(--colour-text);
    font-size: 1.3em;
    font-family: sans-serif;
    background: var(--colour-background);
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

input,
select,
textarea,
button
{
    font: inherit;
}

p:not(:last-child),
dl:not(:last-child),
ul:not(:last-child),
ol:not(:last-child),
li:not(:last-child)
{
    margin-block-start: 0;
    margin-block-end: var(--vertical-spacing);
}

p:last-child,
dl:last-child,
ul:last-child,
ol:last-child,
li:last-child
{
    margin-block-start: 0;
    margin-block-end: 0;
}
