/*
 * TODO Align last row to end
 * TODO Padding, when wrapping to multiple rows
 */

.m-actions
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-block-start: var(--vertical-spacing);
}

.m-actions__action--primary
{
    order: 1;
}
