.m-pageMessage {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-page-message);
  color: white;
  text-align: center;
  background-color: black;
  background-color: rgb(0 0 0 / 65%);
}

@supports (pointer-events: none) and (transform: translateY(1em)) {
  .m-pageMessage {
    transform: none;
    opacity: 1;
    transition: ease-out 400ms;
    transition-property: opacity, transform;
    pointer-events: none;
  }

  .m-pageMessage[hidden] {
    display: block;
    transform: translateY(calc(-2.5 * var(--line-height)));
    opacity: 0;
  }
}

p.m-pageMessage__content {
  margin-block-start: calc(var(--vertical-spacing) / 2);
  margin-block-end: calc(var(--vertical-spacing) / 2);
}
